<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<!-- <form action="/cincinatti"> -->
	<form action="/newyork" method="post">
		<label for="firstname">First Name</label>
		<input type="text" name="firstname" id="firstname"></input>
		<label for="lastname">Last Name</label>
		<input type="text" name="lastname" id="lastname"></input>
		<label for="creditcard">Credit Card</label>
		<input type="text" name="creditcard" id="creditcard"></input>
		<button type="submit">SUBMIT</button>
	</form>
</body>
</html>